body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.container {
  width: 50vw;
  margin: 5rem auto;
  font: 1rem sans-serif;
}
.heading {
  text-align: center;
}

.input-field {
  width: 100%;
  display: flex;
}

.input-field input {
  display: block;
  width: 64%;
  margin-left: 8.5rem;
  padding: 0.7rem;
  outline: none;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  width: 70%;
  margin: 0 auto 1rem;
  background-color: rgb(239, 247, 242);
}

.icons {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
