body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.container {
  width: 50vw;
  margin: 5rem auto;
  font: 1rem sans-serif;
}
.heading {
  text-align: center;
}

input[type="text"] {
  margin-left: 2.2rem;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
}
